.field {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 0.4rem;
}

.field input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  font-size: var(--fs-lg);
  color: var(--brown);
}

.field input::placeholder {
  color: var(--brown);
}
